backcall==0.1.0
cycler==0.10.0
-e git://github.com/h1-the-swan/db_connect_mag.git@c1233fe1419291ec0d18dbd5d9f93d9675270f60#egg=db_connect_mag
decorator==4.2.1
humanfriendly==4.10
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.11.1
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
PyMySQL==0.8.0
pyparsing==2.2.0
python-dateutil==2.7.2
python-dotenv==0.8.2
pytz==2018.3
pyzmq==17.0.0
scikit-learn==0.19.1
scipy==1.0.1
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.6
tornado==5.0.2
traitlets==4.3.2
wcwidth==0.1.7
